{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'posts/style.css' %}" />
  </head>
  <body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <img
      src="{{ post.image }}"
      alt="{{ post.title }}"
      style="max-width: 300px"
    />
    <div>
      <a href="{% url 'index' %}" class="back-link">Back to all posts</a>
    </div>
  </body>
</html>
